<div class="col-sm-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>BOPE SYSTEM</center></h3>
      </div>
    </div>

    <div class="panel-body">
      <center>Aqui vai uma descrição mais detalhada do sistema</center>
    </div>

  </div>
</div>
