<div class="col-sm-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel primary</h3>
      </div>
    </div>

    <div class="panel-body">
      Panel content
    </div>

  </div>
</div>
