<br/>
<div class="basic-grey">
  <h1>Seja bem-vindo!</h1>
  <ul>
    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - <%= link_to "Usuários", users_path %></li>
    <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> - <%= link_to "Equipes", teams_path %></li>
  </ul>
</div>
